
<main class="main-content">
    <div class="page-content">
    <div ng-include="'views/preloader.html'"></div>
        <div class="row margin-b-0">
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 green clearfix">
                    <i class="material-icons white-text">&#xE859;</i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{android}}</h1>
                        <span class="white-text">Android Users</span>
                    </div>
                </div><!--/widget-->
            </div><!--/col-->
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 black clearfix">
                    <i class="fa fa-apple white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{ios}}</h1>
                        <span class="white-text">iOS Users</span>
                    </div>
                </div><!--/widget-->
            </div><!--/col-->
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 blue clearfix">
                    <i class="fa fa-user white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{user}}</h1>
                        <span class="white-text">User</span>
                    </div>
                </div><!--/widget-->
            </div><!--/col-->
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 red clearfix">
                    <i class="fa fa-users white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{group}}</h1>
                        <span class="white-text">Group Users</span>
                    </div>
                </div><!--/widget-->
            </div><!--/col-->
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 teal clearfix">
                    <i class="fa fa-comments white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{message}}</h1>
                        <span class="white-text">Message</span>
                    </div>
                </div><!--/widget-->
            </div>
             <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 orange clearfix">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{textmessage}}</h1>
                        <span class="white-text">Text Message</span>
                    </div>
                </div><!--/widget-->
            </div>
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 purple clearfix">
                    <i class="fa fa-file-image-o white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{imagemessage}}</h1>
                        <span class="white-text">Image Message</span>
                    </div>
                </div><!--/widget-->
            </div>
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 pink clearfix">
                    <i class="fa fa-file-video-o white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{videomessage}}</h1>
                        <span class="white-text">Video Message</span>
                    </div>
                </div><!--/widget-->
            </div>
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 yellow clearfix">
                    <i class="fa fa-file-audio-o white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{audiomessage}}</h1>
                        <span class="white-text">Audio Message</span>
                    </div>
                </div><!--/widget-->
            </div>
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 amber clearfix">
                    <i class="fa fa-map-marker white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{location}}</h1>
                        <span class="white-text">Location Message</span>
                    </div>
                </div><!--/widget-->
            </div>
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 cyan clearfix">
                    <i class="fa fa-sticky-note-o white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{sticker}}</h1>
                        <span class="white-text">Sticker Message</span>
                    </div>
                </div><!--/widget-->
            </div>
            <div class="col s12 m6 l3 margin-b-30">
                <div class="widget_1 z-depth-1 lime clearfix">
                    <i class="fa fa-address-book-o white-text" aria-hidden="true"></i>
                    <div class="content">
                        <h1 class="margin-v-0 white-text">{{contact}}</h1>
                        <span class="white-text">Contact Message</span>
                    </div>
                </div><!--/widget-->
            </div>
        </div><!--/row-->
    </div>
</main>