<main class="main-content">
    <div class="page-content">
        <div class="">
            <div class="row">
                <div class="col s12">
                	<div class="card">
                		<div class="card-content">
                			<div class="center">
                    			<h3>Instruction to download</h3>
                    			<p> Please Scan the QR code to get the App on your mobile. Available for Android and iOS platform.</p>
                    			<div class="row">
                                    <div class="col m4">
                                        <div class="qr_screen">
                                            <img src="images/qr_screen1.png"/>
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        <div class="qr_back">
                                            <img src="images/qr_code.png"/>
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        <div class="qr_screen">
                                            <img src="images/qr_screen2.png"/>
                                        </div>
                                    </div>
                                </div>
                    		</div>	
                            <div class="row center">
                                <h3>Simple. Secure. Reliable Messaging App.</h3>
                                <p>BNN is an effective Instant messaging app packed with a plethora of features starting from simple texting to sharing locations and making video calls.<br> It encompasses the existing features of WhatsApp and also has exciting new feature</p>
                                <div class="home_btn">
                                    <ul class="list-inline">
                                        <li><a href="https://play.google.com/store/apps/details?id=com.zybertron.chat" target="_blank" class="app-btn wow bounceIn" data-wow-delay=".6s" ><img src="images/down_and.png" class="img-responsive img" /></a>
                                        </li>
                                        <li><a href="https://itunes.apple.com/us/app/chat/id1231021028" target="_blank" class="app-btn wow bounceIn" data-wow-delay=".8s" ><img src="images/down_ios.png" class="img-responsive img" /></a></li>
                                </div>
                            </div>
                		</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
