
<main class="main-content">
    <div class="page-content">
    <div ng-include="'views/preloader.html'"></div>
        <div class="row margin-b-0">
            <div class="col s12">
                <div class="card">                       
                    <div class="card-content">
                        <span class="card-title"><h3>Group</h3></span> 
                        <table datatable="ng" class="table bordered dt-responsive nowrap centered striped">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Created By</th>
                                    <th>No of Users</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="grouplist in group">
                                    <td>{{$index+1}}</td>
                                    <td><div style="width: 100px; word-wrap: break-word;">{{grouplist.name}}</div></td>
                                    <td><div><img class="circle" height="75px"; width="75px"; ng-src="{{grouplist.image ? grouplist.image : 'images/anonymous.png'}}" onerror="this.src='images/anonymous.png'"></div></td>
                                    <td>{{grouplist.createdBy | mobilehide}}</td>       
                                    <td>{{grouplist.groupCount}}</td>  
                                    <td><a class="btn teal" href="#!groupdetails" ng-click="groupprofile(grouplist.groupId)"><i class="fa fa-eye left" aria-hidden="true"></i>View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--end cards-->
            </div>
        </div><!--end row-->
    </div>
</main>

