
<main class="main-content">
    <div class="page-content">
    <div ng-include="'views/preloader.html'"></div>
        <div class="">
            <div class="row">
                <div class="col s12">
                <div class="card">
                    <div class="row">
	                    <div class="col s4" style="padding: 3%;">
	                        <img class="circle" height="200" weight="200" ng-src="{{groupinfo.image ? groupinfo.image : 'images/anonymous.png'}}" onerror="this.src='images/anonymous.png'">
	                    </div>
	                    <div class="col s6" style="padding: 5%;">
	                        <table>
	                            <tr>
	                                <td>Name</td>
	                                <td>{{groupinfo.name}}</td>
	                            </tr>
	                            <tr>
	                                <td>Total Members</td>
	                                <td>{{groupinfo.totalMembers}}</td>
	                            </tr>
	                            <tr>
	                            	<td>Created At</td>
	                            	<td>{{groupinfo.createdAt | date:'dd/MM/yyyy hh:MM a'}}</td>
	                            </tr>
	                           
	                        </table>
	                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
	            <div class="col s12 m6 l6">
	                <div class="card card_frds ">
	                    <div class="card-title blue white-text">List of Users</div>
	                    <div class="card-content white-text">
	                        <div class="card_scroll">
		                        <ul class="avtar-list collections-list margin-v-0">
		                            <li ng-repeat="user in userdetails" class="clearfix">
		                                <a href="#!userdetails" ng-click="userprofile(user.userlist._id)">
		                                    <div class="avtar">
		                                        <img ng-src="{{user.userlist.image ? user.userlist.image : 'images/anonymous.png'}}" onerror="this.src='images/anonymous.png'" class="circle" alt="" width="40">
		                                    </div>
		                                    <div class="content">
		                                        <h6 class=" blue-grey-text font-500">{{user.userlist.name}}<span class="">Joined At : {{user.groupinfo.joinedAt | date:'dd/MM/yyyy hh:MM a'}}</span></h6>
		                                        <p>Status : {{user.userlist.status}}<span class="right">Last Seen : {{user.userlist.lastSeen | date:'dd/MM/yyyy hh:MM a'}}</span></p>
		                                    </div>
		                                </a>
		                            </li><!--/li-->
		                        </ul><!--/list-->
	                        </div>
	                    </div> <!--/card content-->                         
	                </div><!--/card-->
	            </div>
            </div>
        </div>
    </div>
</main>
