

<main class="main-content">
    <div class="page-content">
        <div ng-include="'views/preloader.html'"></div>
        <div class="row margin-b-0">
            <div class="col s12">
                <div class="card">                       
                    <div class="card-content">
                        <span class="card-title"><h3>User</h3></span> 
                        <table datatable="ng" class="table bordered dt-responsive nowrap centered striped">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Country Code</th>
                                    <th>Mobile</th>
                                    <th>No of Friends</th>
                                    <th>No of Groups</th>
                                    <th>Version</th>
                                    <th>OS</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="userlist in userlistdata">
                                    <td>{{$index+1}}</td>
                                    <td>{{userlist.name}}</td>
                                    <td><div><img class="circle" height="75px"; width="75px"; ng-src="{{userlist.image ? userlist.image : 'images/anonymous.png'}}" onerror="this.src='images/anonymous.png'"></div></td>
                                    <td>{{userlist.countryCode}}</td>    
                                    <td>{{userlist.mobileNumber | mobilehide}}</td>    
                                    <td>{{userlist.friendsCount}}</td>  
                                    <td>{{userlist.groupCount}}</td>
                                    <td>{{userlist.buildVersion}}</td>
                                    <td>{{userlist.os}}</td>
                                    <td>
                                        <a class="btn teal" href="#!userdetails" ng-click="userprofile(userlist._id)">
                                            <i class="fa fa-eye left" aria-hidden="true"></i>View
                                        </a>
                                        <!-- <button class="btn" ng-click="userprofile(userlist._id)">
                                            <i class="fa fa-eye left" aria-hidden="true"></i>View
                                        </button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--end cards-->
            </div>
        </div><!--end row-->
    </div>
</main>

