
<main class="main-content">
    <div class="page-content">
    <div ng-include="'views/preloader.html'"></div>
        <div class="">
            <div class="row">
                <div class="col s12">
                <div class="card">
                    <div class="row">
	                    <div class="col s4" style="padding: 3%;">
	                        <img class="circle" height="200" weight="200" ng-src="{{userdetails.image ? userdetails.image : 'images/anonymous.png'}}" onerror="this.src='images/anonymous.png'">
	                    </div>
	                    <div class="col s6">
	                        <table>
	                            <tr>
	                                <td>Name</td>
	                                <td>{{userdetails.name}}</td>
	                            </tr>
	                            <tr>
	                                <td>Mobile</td>
	                                <td>{{userdetails.mobileNumber | mobilehide}}</td>
	                            </tr>
	                            <tr>
	                                <td>Status</td>
	                                <td>{{userdetails.status}}</td>
	                            </tr>
	                            <tr>
	                                <td>Build Version</td>
	                                <td>{{userdetails.buildVersion}}</td>
	                            </tr>
	                            <tr>
	                                <td>OS</td>
	                                <td>{{userdetails.os}}</td>
	                            </tr>
	                            <tr>
	                                <td>Last Seen</td>
	                                <td>{{userdetails.lastSeen | date:'dd/MM/yyyy hh:MM a'}}</td>
	                            </tr>
	                        </table>
	                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
	            <div class="col s12 m6 l6">
	                <div class="card card_frds ">
	                    <div class="card-title blue white-text">List of Friends</div>
	                    <div class="card-content white-text">
	                        <div class="card_scroll">
		                        <ul class="avtar-list collections-list margin-v-0">
		                            <li ng-repeat="frnd in frndlist" class="clearfix">
		                                <a href="#!userdetails" ng-click="userprofile(frnd.id)">
		                                    <div class="avtar">
		                                        <img ng-src="{{frnd.image ? frnd.image : 'images/anonymous.png'}}" onerror="this.src='images/anonymous.png'" class="circle" alt="" width="40">
		                                    </div>
		                                    <div class="content">
		                                        <h6 class=" blue-grey-text font-500">{{frnd.name}}</h6>
		                                        <p>Status : {{frnd.status}}</p>
		                                    </div>
		                                </a>
		                            </li><!--/li-->
		                        </ul><!--/list-->
	                        </div>
	                    </div> <!--/card content-->                         
	                </div><!--/card-->
	            </div>
	            <div class="col s12 m6 l6">
	                <div class="card card_frds ">
	                    <div class="card-title green white-text">List of Groups</div>
	                    <div class="card-content white-text">
	                        <div class="card_scroll">
		                        <ul class="avtar-list collections-list margin-v-0">
		                            <li class="clearfix" ng-repeat="grp in groupList">
		                                <a href="#!groupdetails" ng-click="groupprofile(grp.groupId)">
		                                    <div class="avtar">
		                                        <img ng-src="{{grp.image ? grp.image : 'images/anonymous.png'}}" onerror="this.src='images/anonymous.png'" class="circle" alt="" width="40">
		                                    </div>
		                                    <div class="content">
		                                        <h6 class=" blue-grey-text font-500">{{grp.name}}</h6>
		                                        <p>Created at : {{grp.createdAt | date:'dd/MM/yyyy hh:MM a'}}</p>
		                                    </div>
		                                </a>
		                            </li><!--/li-->
		                        </ul><!--/list-->
	                        </div>
	                    </div> <!--/card content-->                         
	                </div><!--/card-->
	            </div>
            </div>
        </div>
    </div>
</main>
